* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.header {
    padding: 60px;
    text-align: center;
    background-color: red;
    color: aliceblue;
}
.header h1 {
    font-size: 40px
}
.navbar {
    overflow: hidden;
    background-color: tomato;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.navbar a {
    float: left;
    display: block;
    color: rgb(255, 240, 240);
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: red;
    color: black;
}

.navbar a.active {
    background-color: crimson;
    color: aliceblue;
}

.header h2 {
  font-size: 40px
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.side {
    -ms-flex: 30%;
    flex: 30%;
    background-color: whitesmoke;
    padding: 20px,
}

.main {
    -ms-flex: 70%;
    flex: 70%;
    background-color: whitesmoke;
  padding: 20px;
} 
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }

  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }  